<div class="panel-body">
    <div class="row">
        <form name="forms.personalDetailsForm" class="form-horizontal clearfix" novalidate>
            <div class="col-lg-6 block-personal-details">
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" ng-model="user.title">
                </div>
                <div class="form-group" ng-class="{'has-errors': !UsersList.isValidFirstName()}">
                    <label>First (Given) Name *</label>
                    <input name="firstname"
                        type="text"
                        class="form-control"
                        ng-model="user.firstname"
                        ng-required="true"
                        ng-focus="UsersList.setValid('firstname')"
                        custom-popover
                        popover-html="Add a first (given) name"
                        popover-placement="left"
                        popover-trigger="manual"
                        popover-visibility="{{!UsersList.isValidFirstName()}}">
                </div>

                <div class="form-group" ng-class="{'has-errors': !UsersList.isValidLastName()}">
                    <label>Last (Family Name) *</label>
                    <input name="lastname"
                        type="text"
                        class="form-control"
                        ng-model="user.lastname"
                        ng-required="true"
                        ng-focus="UsersList.setValid('lastname')"
                        custom-popover
                        popover-html="Add a last (family) name"
                        popover-placement="left"
                        popover-trigger="manual"
                        popover-visibility="{{!UsersList.isValidLastName()}}">
                </div>
                <div class="form-group">
                    <label>Position</label>
                    <input type="text" class="form-control" ng-model="user.position">
                </div>
                <div class="form-group" ng-class="{'has-errors': !UsersList.isValidEmail()}">
                    <label>Email *</label>
                    <input name="email"
                        type="email"
                        class="form-control"
                        ng-model="user.email"
                        ng-required="true"
                        ng-focus="UsersList.setValid('email')"
                        custom-popover
                        popover-html="Add an email"
                        popover-placement="left"
                        popover-trigger="manual"
                        popover-visibility="{{!UsersList.isValidEmail()}}">
                </div>

                <user-password user="user"></user-password>
            </div>
            <div class="col-lg-6 block-contact-types">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Contact Type</th>
                        <th>Assign</th>
                        <th>Primary</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="types in UsersList.contactTypes">
                        <td>
                            {{types.name}}
                        </td>
                        <td>
                            <input ng-model="user.contactTypes[types.handle].assigned" i-checkbox="{{types.assign}}" type="checkbox" />
                        </td>
                        <td>
                            <input ng-model="user.contactTypes[types.handle].primary" ng-change="handlePrimaryContactTypeClick(types.handle)" i-checkbox="{{types.primary}}" type="checkbox" />
                        </td>
                    </tr>
                    </tbody>
                </table>
                <a class="btn btn-primary btn-sm btn-block" ng-class="{'disabled':personalDetailsSubmitInProgress}" ng-click="handlePersonalDetailsSubmit()">{{user.id ? 'Update' : 'Save'}}</a>
            </div>
        </form>
    </div>
</div>
