<div class="password-box animated fadeInDown">
    <div class="row">
        <div class="col-md-12">

                <div class="row">
                    <div class="col-lg-12"><h2 class="font-bold">Reset password</h2></div>
                    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-6">
                        <form name="forms.resetPasswordForm" class="m-t clearfix" novalidate role="form" autocomplete="off">
                            <div class="form-group">
                                <input ng-class="LoginController.isPasswordValid() ? 'valid' : 'invalid'" type="password" name="password" class="form-control" placeholder="New password" required="" ng-model="password" ng-change="validatePassword()" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <input ng-class="LoginController.isPasswordValid() ? 'valid' : 'invalid'" type="password" name="repeatPassword" class="form-control" placeholder="Repeat password" required="" ng-model="repeatPassword" ng-change="validatePassword()" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <input type="text" ng-model="requestId" required class="hidden">
                                <div class="text-red" ng-hide="requestId.length > 1">
                                    <p>Invalid Link, please try to request a new reset link</p>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block full-width m-b" ng-class="{'disabled':resetSubmitInProgress}" ng-click="handleResetSubmitPasswordSubmitClick()">Reset</button>
                            <a ng-click="handleForgotPasswordClick()" ng-hide="requestId.length > 1">
                                <small>Go back</small>
                            </a>
                        </form>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 text-left">
                        <div class="form-group m-t">
                            <div class="validation-items">
                                <div class="validation-item" ng-repeat="item in validationItems"><i class="fa fa-circle" ng-class="item.status ? 'text-navy' : 'text-danger'"></i> {{item.name}}</div>
                            </div>
                        </div>
                    </div>
                </div>

        </div>
    </div>
</div>
