<div class="password-box animated fadeInDown w-300 box-middle">
    <h2 class="font-bold">Forgot password</h2>
    <div ng-show="!showResetPasswordConfirmation">
        <p>
            Enter your email address and your password will be reset and emailed to you.
        </p>
        <form name="forms.forgotPasswordForm" class="m-t clearfix" novalidate role="form" autocomplete="off">
            <div class="form-group">
                <input type="email" name="email"
                       class="form-control"
                       ng-class="{'red-border': forms.forgotPasswordForm.$submitted && forms.forgotPasswordForm.$invalid}"
                       placeholder="Email address"
                       ng-required="true"
                       ng-model="forgottenPassword.email">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block full-width m-b" ng-class="{'disabled':resetSubmitInProgress}" ng-click="handleResetPasswordSubmitClick()"><i class="fa fa-envelope"></i> Send new password</button>
                <div ng-show="forgottenPasswordError" class="alert alert-danger" ng-class="animate ? 'animated shake' : ''">{{forgottenPasswordErrorMessage}}</div>
            </div>
        </form>
    </div>
    <div ng-show="showResetPasswordConfirmation">
        <p>Thank you. An email with instructions to reset your password has been sent to you.</p>
    </div>
    <a ng-click="toggleForgottenPasswordForm()">
        <small>Go back</small>
    </a>
</div>
