<div class="password" ng-controller="ProfilePasswordController as ProfilePasswordController">
    <div class="ibox">
        <div class="ibox-title">
            <h5>{{isPasswordReset ? 'Password reset is required' : 'Password'}}</h5>
        </div>
        <div class="ibox-content">
            <form name="ProfilePasswordController.forms.password" class="clearfix form-horizontal" novalidate autocomplete="off">
                <div class="form-group" ng-show="!ProfilePasswordController.isPasswordFieldsVisible() && !isPasswordReset">
                    <label class="control-label col-sm-5 col-md-4">Password *</label>
                    <div class="col-sm-7 col-md-8">
                        <input name="password" type="text" class="form-control" value="**********"
                               ng-focus="ProfilePasswordController.togglePasswordFields()">
                    </div>
                </div>

                <div ng-show="ProfilePasswordController.isPasswordFieldsVisible() || isPasswordReset">
                    <user-password user="user"
                                   reset-validators="!ProfilePasswordController.isPasswordFieldsVisible() && !isPasswordReset"
                                   config="{resetOnLogin: false, label: 'New Password', labelClass: 'control-label col-sm-12', blockClass: null}"></user-password>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <a class="btn btn-primary pull-right"
                               ng-class="{'disabled': ProfilePasswordController.isDisabled()}"
                               ng-click="ProfilePasswordController.update()">
                                <i class="fa fa-check-circle"></i>
                                <span>Update</span>
                            </a>
                            <a class="btn btn-default pull-right"
                               ng-if="!isPasswordReset"
                               ng-class="{'disabled': ProfilePasswordController.isDisabled()}"
                               ng-click="ProfilePasswordController.togglePasswordFields()">
                                <i class="fa fa-ban"></i>
                                <span>Cancel</span>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
