<!-- Main Wrapper-->
<div id="wrapper" ng-controller="MainController as MainController">

    <!-- SideBar -->
    <div ng-include="'/scripts/shared/sidebar/sidebarView.html'"></div>
    
    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg {{$state.current.name | dotToDash}}">

        <!-- Page Header -->
        <div class="header">
            <!-- Top Nav -->
            <div class="row" ng-include="'/scripts/shared/topNavigationBar/topNavigationBarView.html'"></div>
            <!-- Page Heading and Breadcrumb -->
            <div ng-include="'/scripts/shared/breadcrumbs/breadcrumbsView.html'"></div>
        </div>

        <!-- Page Body -->
        <div class="page-body">
            <div ui-view ng-class="{'modal-overlay-35' : MainController.isDisabled() || MainController.noAccess()}"></div>
            <div ng-if="MainController.isDisabled()" ng-include="'/scripts/shared/disabledInstitution/disabledInstitutionView.html'"></div>
            <div ng-if="MainController.noAccess()" ng-include="'/scripts/shared/noAccess/noAccessView.html'"></div>
        </div>

        <!-- Page Footer -->
        <div class="footer" ng-include="'/scripts/shared/footer/footerView.html'"></div>

    </div>
    <!-- End page wrapper-->

</div>
<!-- End Main Wrapper-->