<div class="panel-body">
    <div class="row">
        <div class="col-lg-6 block-permissions">
            <p>
                <strong>Departments / Roles</strong>
            </p>
            <div ng-repeat="(groupName, roles) in UsersList.rolesList | groupBy: 'groupName'">
                <label>{{groupName}}</label>
                <div ng-repeat="role in roles" class="permission-row">
                    <switch ng-model="user.roles[role.roleHandle]"
                            ng-disabled="role.roleHandle !== 'custom' && user.roles.custom"
                            name="{{role.roleHandle}}"
                            class="{{role.roleHandle=='custom' ? 'red': 'green'}}"
                            ng-change="handleRoleClick(role)"
                    ></switch>{{role.roleName}}
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <h3 ng-show="user.globalAdmin" class="btn-sm badge-info">
                Full Access
            </h3>
            <div ng-class="{'modal-overlay': user.globalAdmin}">
                <p>
                    <strong>Assign Pages</strong>
                </p>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Section</th>
                            <th>Page</th>
                            <th>Assign</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="(key, page) in UsersList.sectionsList">
                            <td>{{page.sectionName}}</td>
                            <td>{{page.pageName}}</td>
                            <td>
                                <input i-checkbox type="checkbox" name="{{page.pageHandle}}" ng-model="user.accessTo[page.pageHandle]" ng-change="activateCustomRole()"  />
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <a class="btn btn-primary btn-sm btn-block"
                       ng-class="{'disabled':permissionsSubmitInProgress || !UsersList.hasWriteAccess}"
                       ng-click="handlePermissionsSubmit()">Update</a>
                </div>
            </div>
        </div>
    </div>
</div>
