<div ng-controller="TuProfileProgramsController as ProgramsController">
    <div upgrade-banner
         info-block-class="isRightSidePanelActive() ? 'col-sm-9' : 'col-sm-10'"
         buttons-block-class="isRightSidePanelActive() ? 'col-sm-3' : 'col-sm-2'"
         basic-profile="!tuIsAdvanced ? true : false"
         upgrade-email="{{upgradeEmailsTo}}"
         upgrade-click="toggleUpgradeForm()">
    </div>

    <div class="alert alert-info">
        <p>
            <i class="fa fa-info-circle"></i>
            <span>Drag and Drop Rows to Order Program List or profiles.</span>
        </p>
    </div>

    <div class="tab-header" ng-class="{'locked': !tuIsAdvanced}">
        <div class="btn-toggle">
            <switch class="green"
                ng-disabled="alphabeticalOrderingInProgress"
                ng-model="tuProfileData.programsAlphabeticalOrder"
                ng-change="!alphabeticalOrderingInProgress ? handleAlphabeticalOrderClick(tuProfileData.programsAlphabeticalOrder) : null">
            </switch>
            <span> Display in alphabetical order?</span>
        </div>
        <a class="btn btn-primary pull-right"
            ng-class="{'disabled': programsTabSubmitInProgress}"
            ng-click="handleAddProgramClick()">
            <i class="fa fa-plus"></i>
            <span>Add Program</span>
        </a>
    </div>

    <div class="tab-body" ng-class="{'locked': !tuIsAdvanced}">
        <div wave-spinner class="wave-spinner" ng-show="isDatagridReloading || !isDatagridRendered"></div>

        <div id="programsTable" 
            ng-class="{'overlay-white': alphabeticalOrderingInProgress}"
            ng-if="!isDatagridReloading && gridOptions">
            <ui-grid-info ng-if="!isRightSidePanelActive()"></ui-grid-info>
            <div class="grid"
                ui-grid="gridOptions"
                ui-grid-draggable-rows
                ui-grid-selection
                ui-grid-resize-columns
                ui-grid-auto-resize>
            </div>
        </div>
    </div>
</div>
