<div class="ibox">
    <div class="ibox-title m-t-xl">
        <h5>Add Program</h5>
        <div class="ibox-tools">
            <a ng-click="toggleProgramAddForm()">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>

    <div class="ibox-content">
        <div wave-spinner class="text-right" ng-show="fetchingHistoryLog()"></div>

        <form class="form-horizontal add-program" name="forms.addProgramForm" novalidate autocomplete="off">
            <div class="form-group" ng-if="InstitutionNameTuPrograms">
                <label class="control-label col-sm-5 col-md-4">Institution Name *</label>
                <div class="col-sm-7 col-md-8">
                    <input type="text" class="form-control"
                           ng-model="InstitutionNameTuPrograms"
                           ng-disabled="true">
                </div>
            </div>

            <div class="form-group" ng-class="{'has-errors' : isInvalidName}">
                <label class="control-label col-sm-5 col-md-4">Program Name *</label>
                <div class="col-sm-7 col-md-8">
                    <input type="text" placeholder="Add name" class="form-control"
                           ng-model="newProgram.name"
                           ng-required="true"

                           focus-delay="250"
                           custom-popover popover-html="Add a Program name"
                           popover-placement="left"
                           popover-trigger="manual"
                           popover-visibility="{{isInvalidName ? true : false}}"
                           ng-focus="setIsInvalidName(false)">
                </div>
            </div>

            <div class="form-group" ng-class="{'has-errors' : isInvalidUrl}">
                <label class="control-label col-sm-5 col-md-4">URL Landing Page *</label>
                <div class="col-sm-7 col-md-8">
                    <input type="text" class="form-control" placeholder="Add a Landing Page"
                        ng-model="newProgram.url"
                        ng-required="true"
                        ng-maxlength="255"
                        ng-keyup="ProgramFormController.onKeyUp($event)"
                        focus-delay="250"
                        custom-popover popover-html="Add a valid landing page link. Maximum 255 characters"
                        popover-placement="left"
                        popover-trigger="manual"
                        popover-visibility="{{isInvalidUrl ? true : false}}"
                        ng-focus="setIsInvalidUrl(false)">
                </div>
            </div>

            <div class="form-group" ng-class="{'has-errors' : isInvalidDepartment}">
                <label class="control-label col-sm-5 col-md-4">Department *</label>
                <div class="col-sm-7 col-md-8">
                    <ui-select
                        ng-model="newProgram.departmentCoreId"
                        ng-required="true"
                        theme="bootstrap"
                        ng-disabled="isClientDepartment"
                        on-select="ProgramFormController.handleDepartmentChanges(newProgram.departmentCoreId)"
                        focus-delay="250"
                        custom-popover popover-html="Select an option"
                        popover-placement="left"
                        popover-trigger="manual"
                        popover-visibility="{{isInvalidDepartment ? true : false}}"
                        >
                        <ui-select-match placeholder="Select an Option">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices 
                            refresh-delay="1000"
                            repeat="option.coreId as option in departmentsListArr | filter:$select.search">
                            <div ng-bind-html="option.name | highlight: $select.search"></div>
                        </ui-select-choices>
                        <ui-select-no-choice>
                            Not found
                        </ui-select-no-choice>
                    </ui-select>
                </div>
            </div>

            <div class="form-group" ng-class="{'has-errors' : isInvalidBelongsTo}">
                <label class="control-label col-sm-5 col-md-4">Belongs to *</label>
                <div class="col-sm-7 col-md-8">
                    <ui-select
                        placeholder="Select an option"
                        ng-model="newProgram.belongsTo"
                        ng-disabled="!newProgram.departmentCoreId"
                        ng-required="true"
                        theme="bootstrap"
                        focus-delay="250"
                        custom-popover popover-html="Select an option"
                        popover-placement="left"
                        popover-trigger="manual"
                        popover-visibility="{{isInvalidBelongsTo ? true : false}}"
                        ng-change="setIsInvalidBelongsTo(false)">
                        <ui-select-match placeholder="Select an option">
                            <span>{{$select.selected.title}}</span>
                        </ui-select-match>
                        <ui-select-choices
                          position="down"
                          repeat="option.id as option in belongsToList | filter: $select.search"
                          ui-disable-choice="option.disabled">
                          <div class="test" ng-bind-html="option.title | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <a class="btn btn-primary pull-right" ng-class="{'disabled': addInProgress}" ng-click="handleProgramCreateClick()">
                        <i class="fa fa-check-circle"></i>
                        <span>Save</span>
                    </a>
                    <a class="btn btn-default pull-right" ng-click="toggleProgramAddForm()">
                        <i class="fa fa-ban"></i>
                        <span>Cancel</span>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
