<div ng-controller="TmProfileProgramsController as ProgramsController">
    <div class="tab-header">
        <a class="btn btn-primary pull-right"
           ng-class="{'disabled': programsTabSubmitInProgress}"
           ng-click="ProgramsController.handleAddProgramClick()">
            <i class="fa fa-plus"></i>
            <span>{{ProgramsController.isClient() ? 'Request to add Program' : 'Add Program'}}</span>
        </a>
    </div>

    <div class="tab-body">
        <div id="programsTable">
            <div wave-spinner class="wave-spinner" ng-show="ProgramsController.isDatagridReloading || !ProgramsController.isDatagridRendered"></div>

            <div ng-if="!ProgramsController.isDatagridReloading && gridOptions">
                <ui-grid-info ng-if="!showProgramEditForm && !showProgramAddForm"></ui-grid-info>
                <div class="grid"
                     ui-grid="gridOptions"
                     ui-grid-selection
                     ui-grid-resize-columns
                     ui-grid-auto-resize>
                </div>
            </div>
        </div>
    </div>
</div>
