<form class="form-horizontal" name="TmProfileProgramFormController.forms.subscriptionForm">
    <div class="form-group">
        <div class="col-sm-12">
            <span date-range-picker
                class="btn btn-default btn-block"
                type="text"
                ng-model="datePickerTm.date"
                options="datePickerTm.options">
                {{(TmProfileProgramFormController.subscription.startDate| date:'mediumDate') || "Start Date"}} - {{(TmProfileProgramFormController.subscription.endDate| date:'mediumDate') || "End Date"}}
            </span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-12">
            <a class="btn btn-primary pull-right"
               ng-class="{'disabled' : !TmProfileProgramFormController.subscription.startDate}"
               ng-click="TmProfileProgramFormController.handleUpgradeSubmit()">
                <i class="fa fa-check-circle"></i>
                <span>Save</span>
            </a>
            <a class="btn btn-default pull-right"
               ng-click="TmProfileProgramFormController.closeSubscribeProgramForm()">
               <i class="fa fa-ban"></i>
               <span>Cancel</span>
            </a>
        </div>
    </div>
</form>
