<div class="ibox">
    <div class="ibox-title">
        <h5>Program Statistics</h5>
        <div id="program-stats" class="ibox-tools" expand="TmProfileProgramFormController.showStatistics()">
            <a ng-click="showHide()" class="collapse-link">
                <i class="fa fa-chevron-down"></i>
            </a>
        </div>
    </div>

    <div class="ibox-content pace-inactive">
        <ng-form name="TmProfileProgramFormController.forms.addProgramStatsForm" novalidate autocomplete="off">
            <div class="form-group">
                <label class="control-label col-sm-5 col-md-5">
                    <span>Specialisation/s</span>
                </label>
                <div class="col-sm-7 col-md-7">
                    <ui-select
                            multiple
                            close-on-select="false"
                            ng-model="TmProfileProgramFormController.newProgram.specialisations"
                            theme="bootstrap"
                            >
                        <ui-select-match placeholder="Select an Option">{{$item.name}}</ui-select-match>
                        <ui-select-choices refresh-delay="1000"
                            repeat="option.handle as option in TmProfileProgramFormController.specialisationsList | filter:$select.search">
                            <div ng-bind-html="option.name | highlight: $select.search"></div>
                        </ui-select-choices>
                        <ui-select-no-choice>
                            Not found
                        </ui-select-no-choice>
                    </ui-select>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-errors': !TmProfileProgramFormController.isValidAverageGmat()}">
                <label class="control-label col-sm-5 col-md-5">
                    <span>Average GMAT score for your cohort</span>
                </label>
                <div class="col-sm-7 col-md-7">
                    <input type="text"
                        class="form-control"
                        name="avgGmat"
                        ng-model="TmProfileProgramFormController.newProgram.stats.avgGmat"

                        ng-focus="TmProfileProgramFormController.setValid('avgGmat', true)"
                        custom-popover
                        popover-html="Enter values between 400-800"
                        popover-placement="bottom"
                        popover-trigger="manual"
                        popover-visibility="{{!TmProfileProgramFormController.isValidAverageGmat()}}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-5 col-md-5">
                    <span>Tuition fee range for the full MBA course (USD)</span>
                </label>
                <div class="col-sm-7 col-md-7">
                    <ui-select
                        placeholder="Select an option"
                        ng-model="TmProfileProgramFormController.newProgram.stats.tuitionRange"
                        theme="bootstrap">
                        <ui-select-match placeholder="Select an option">
                            <span>{{$select.selected.label}}</span>
                        </ui-select-match>
                        <ui-select-choices
                          position="down"
                          repeat="option.value as option in TmProfileProgramFormController.feesRangesList | filter: $select.search">
                          <div class="test" ng-bind-html="option.label | highlight: $select.search"></div>
                        </ui-select-choices>
                        <ui-select-no-choice>
                            Not found
                        </ui-select-no-choice>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-5 col-md-5">
                    <span>Start month/s</span>
                </label>
                <div class="col-sm-7 col-md-7">
                    <ui-select
                        multiple
                        close-on-select="false"
                        limit= "4"
                        ng-model="TmProfileProgramFormController.newProgram.stats.startDates"
                        theme="bootstrap">
                        <ui-select-match placeholder="Select an option"><span>{{$item.label}}</span></ui-select-match>
                        <ui-select-choices
                          position="down"
                          repeat="option.value as option in TmProfileProgramFormController.monthsList | filter: $select.search">
                          <div class="test" ng-bind-html="option.label | highlight: $select.search"></div>
                        </ui-select-choices>
                        <ui-select-no-choice>
                            Not found
                        </ui-select-no-choice>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-5 col-md-5">
                    <span>Length of your program in months</span>
                </label>
                <div class="col-sm-7 col-md-7">
                    <ui-select
                        placeholder="Select an option"
                        ng-model="TmProfileProgramFormController.newProgram.stats.programLength"
                        theme="bootstrap">
                        <ui-select-match placeholder="Select an option"><span>{{$select.selected.label}}</span></ui-select-match>
                        <ui-select-choices
                          position="down"
                          repeat="option.value as option in TmProfileProgramFormController.lengthList | filter: $select.search">
                          <div class="test" ng-bind-html="option.label | highlight: $select.search"></div>
                        </ui-select-choices>
                        <ui-select-no-choice>
                            Not found
                        </ui-select-no-choice>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-5 col-md-5">
                    <span>Accreditation/s</span>
                </label>
                <div class="col-sm-7 col-md-7">
                    <ui-select
                        multiple
                        close-on-select="false"
                        limit= "3",
                        ng-model="TmProfileProgramFormController.newProgram.stats.accreditations"
                        theme="bootstrap">
                        <ui-select-match placeholder="Select an option"><span>{{$item.label}}</span></ui-select-match>
                        <ui-select-choices
                          position="down"
                          repeat="option.value as option in TmProfileProgramFormController.accreditationsList | filter: $select.search">
                          <div class="test" ng-bind-html="option.label | highlight: $select.search"></div>
                        </ui-select-choices>
                        <ui-select-no-choice>
                            Not found
                        </ui-select-no-choice>
                    </ui-select>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-errors': !TmProfileProgramFormController.isValidClassSize()}">
                <label class="control-label col-sm-5 col-md-5">
                    <span>Number of students on your program (Class size)</span>
                </label>
                <div class="col-sm-7 col-md-7">
                    <input type="text"
                        class="form-control"
                        name="classSize"
                        ng-model="TmProfileProgramFormController.newProgram.stats.classSize"
                        ng-focus="TmProfileProgramFormController.setValid('classSize', true)"
                        custom-popover
                        popover-html="Enter values between 1-2000"
                        popover-placement="bottom"
                        popover-trigger="manual"
                        popover-visibility="{{!TmProfileProgramFormController.isValidClassSize()}}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-5 col-md-5">
                    <span>% of International students</span>
                </label>
                <div class="col-sm-7 col-md-7">
                    <ui-select
                        ng-model="TmProfileProgramFormController.newProgram.stats.percentInternationalStudents"
                        theme="bootstrap">
                        <ui-select-match placeholder="Select an option"><span>{{$select.selected.label}}</span></ui-select-match>
                        <ui-select-choices
                          position="down"
                          repeat="option.value as option in TmProfileProgramFormController.percentList | filter: $select.search">
                          <div class="test" ng-bind-html="option.label | highlight: $select.search"></div>
                        </ui-select-choices>
                        <ui-select-no-choice>
                            Not found
                        </ui-select-no-choice>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-5 col-md-5">
                    <span>Average age of students in your cohort</span>
                </label>
                <div class="col-sm-7 col-md-7">
                    <ui-select
                        ng-model="TmProfileProgramFormController.newProgram.stats.avgStudentAge"
                        theme="bootstrap">
                        <ui-select-match placeholder="Select an option"><span>{{$select.selected.label}}</span></ui-select-match>
                        <ui-select-choices
                          position="down"
                          repeat="option.value as option in TmProfileProgramFormController.yearList1850 | filter: $select.search">
                          <div class="test" ng-bind-html="option.label | highlight: $select.search"></div>
                        </ui-select-choices>
                        <ui-select-no-choice>
                            Not found
                        </ui-select-no-choice>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-5 col-md-5">
                    <span>% of women in your cohort</span>
                </label>
                <div class="col-sm-7 col-md-7">
                    <ui-select
                        placeholder="Select an option"
                        ng-model="TmProfileProgramFormController.newProgram.stats.percentWomenStudents"
                        theme="bootstrap">
                        <ui-select-match placeholder="Select an option"><span>{{$select.selected.label}}</span></ui-select-match>
                        <ui-select-choices
                          position="down"
                          repeat="option.value as option in TmProfileProgramFormController.percentList | filter: $select.search">
                          <div class="test" ng-bind-html="option.label | highlight: $select.search"></div>
                        </ui-select-choices>
                        <ui-select-no-choice>
                            Not found
                        </ui-select-no-choice>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-5 col-md-5">
                    <span>Average years of work experience</span>
                </label>
                <div class="col-sm-7 col-md-7">
                    <ui-select
                        ng-model="TmProfileProgramFormController.newProgram.stats.avgWorkExperience"
                        theme="bootstrap">
                        <ui-select-match placeholder="Select an option"><span>{{$select.selected.label}}</span></ui-select-match>
                        <ui-select-choices
                          position="down"
                          repeat="option.value as option in TmProfileProgramFormController.yearList020 | filter: $select.search">
                          <div class="test" ng-bind-html="option.label | highlight: $select.search"></div>
                        </ui-select-choices>
                        <ui-select-no-choice>
                            Not found
                        </ui-select-no-choice>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-5 col-md-5">
                    <span>Do you offer a scholarship/s?</span>
                </label>
                <div class="col-sm-7 col-md-7">
                    <ui-select
                        name="scholorship"
                        ng-model="TmProfileProgramFormController.newProgram.stats.offerScholarships"
                        theme="bootstrap">
                        <ui-select-match placeholder="Select an option"><span>{{$select.selected.label}}</span></ui-select-match>
                        <ui-select-choices
                          position="down"
                          repeat="option.value as option in TmProfileProgramFormController.offerScholarshipsList | filter: $select.search">
                          <div class="test" ng-bind-html="option.label | highlight: $select.search"></div>
                        </ui-select-choices>
                        <ui-select-no-choice>
                            Not found
                        </ui-select-no-choice>
                    </ui-select>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-errors': !TmProfileProgramFormController.isValidAverageSalaryAfterGraduation()}">
                <label class="control-label col-sm-5 col-md-5">
                    <span>Average salary 3 months post study (USD)</span>
                </label>
                <div class="col-sm-7 col-md-7">
                    <input type="number"
                        class="form-control"
                        name="avgSalaryAfterGraduation"
                        ng-model="TmProfileProgramFormController.newProgram.stats.avgSalaryAfterGraduation"
                        ng-focus="TmProfileProgramFormController.setValid('avgSalaryAfterGraduation', true)"
                        custom-popover
                        popover-html="Enter values between 0-200000"
                        popover-placement="bottom"
                        popover-trigger="manual"
                        popover-visibility="{{!TmProfileProgramFormController.isValidAverageSalaryAfterGraduation()}}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-5 col-md-5">
                    <span>% employed 3 months post study</span>
                </label>
                <div class="col-sm-7 col-md-7">
                    <ui-select
                        ng-model="TmProfileProgramFormController.newProgram.stats.percentEmploymentAfterGraduation"
                        theme="bootstrap">
                        <ui-select-match placeholder="Select an option"><span>{{$select.selected.label}}</span></ui-select-match>
                        <ui-select-choices
                          position="down"
                          repeat="option.value as option in TmProfileProgramFormController.percentList | filter: $select.search">
                          <div class="test" ng-bind-html="option.label | highlight: $select.search"></div>
                        </ui-select-choices>
                        <ui-select-no-choice>
                            Not found
                        </ui-select-no-choice>
                    </ui-select>
                </div>
            </div>
        </ng-form>
    </div>
</div>