<div class="wrapper wrapper-content animated fadeInRight page-profile" ng-controller="ProfileController as ProfileController">
    <div class="row profile-logo" ng-class="{'modal-overlay-35': isPasswordReset}">
        <div class="col-sm-6">
            <div class="panel-body" ng-include src="'/scripts/components/profile/logo/profileLogoView.html'"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6" ng-class="{'modal-overlay-35': isPasswordReset}">
            <div class="panel-body profile-personal-details">
                <div ng-include src="'/scripts/components/profile/personalDetails/profilePersonalDetailsView.html'"></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel-body profile-password">
                <div ng-include src="'/scripts/components/profile/password/profilePasswordView.html'"></div>
            </div>
        </div>
    </div>
</div>
