<div class="ibox">
    <div class="ibox-title m-t-xl">
        <h5>History Log <small>showing last {{SharedProfileController.historyLog.totalReturned}} records of {{SharedProfileController.historyLog.total}}</small></h5>
        <div class="ibox-tools">
            <a class="close-link" ng-click="handleGeneralHistoryCloseClick()">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
    <div class="ibox block-institution">
        <div class="ibox-content">
            <div wave-spinner class="text-right" ng-show="fetchingHistory"></div>
            <div ng-repeat="log in generalHistoryLog">
                <ul class="list-unstyled list-history break-word">
                    <li>
                        <span class="bold">Modified on:</span>
                        <span>{{log.modifiedAt| date:'medium'}}</span>
                    </li>
                    <li>
                        <span class="bold">Submitted by:</span>
                        <span>{{log.modifiedByFullName}}</span>
                    </li>
                    <li>
                        <span class="bold">Institution Profile Name Display:</span>
                        <span>{{log.fullName}}</span>
                    </li>
                    <li>
                        <span class="bold">Foundation Year:</span>
                        <span>{{log.foundationYear}}</span>
                    </li>
                    <li>
                        <span class="bold">Logo:</span>
                        <span>{{log.smallLogo.path && log.mediumLogo.path && log.largeLogo.path ? 'Yes' : 'No'}}</span>
                    </li>
                </ul>
                <div class="hr-line-dashed"></div>
            </div>

            <div class="row" ng-show="SharedProfileController.handleHistoryLogVisibility()">
                <div wave-spinner class="text-right" ng-show="SharedProfileController.fetchingMoreHistoryLog()"></div>
                <div class="col-sm-8 col-sm-offset-2">
                    <a class="btn btn-primary btn-block" ng-click="SharedProfileController.handleLoadMoreHistoryLog()" ng-disabled="SharedProfileController.fetchingMoreHistoryLog()">Load more</a>
                </div>
            </div>
        </div>
    </div>
</div>