<div class="panel-body">
    <div class="row">
        <div wave-spinner class="wave-spinner" ng-show="isSelectReloading"></div>

        <div class="col-lg-12 block-group-institutions-search">
         <label>Access to Outreach for C121 and CM only</label>
            <ui-select
                      ng-disabled="InstitutionsController.isSimpleDepartment(institution.typeId)"
                      multiple
                       close-on-select="false"
                       ng-model="institution.groupMembers"
                       theme="bootstrap"
                       reset-search-input="true">
                <ui-select-match placeholder="Type institution name...">{{$item.name}}</ui-select-match>
                <ui-select-choices refresh-delay="1000"
                                   refresh="searchInstitutionsWithoutGroup($select.search)"
                                   repeat="option in institutionsWithoutGroup | filter:$select.search">
                    <div ng-bind-html="option.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-6 block-group-institutions-warning">
            <i>Institution "{{institution.name}}" will be included by default</i>
        </div>

        <div class="col-lg-6 block-group-institutions-update">
            <a class="btn btn-primary btn-sm btn-block" ng-class="{'disabled': disallowGroupsSubmit() || InstitutionsController.isSimpleDepartment(institution.typeId)}" ng-click="handleInstitutionGroupSubmit()">Update</a>
        </div>
    </div>
</div>