<div ng-controller="TuMediaSocialMediasController">
    <h3 class="heading">Social Media</h3>
    <div class="tab-body">
        <div class="sort-filter">
            <a class="btn btn-link btn-overview" ng-click="filter(typeOverview())" ng-class="type === typeOverview() ? 'active' : 'inactive'">
                <i class="fa fa-book"></i>
                <span>Overview</span>
            </a>
            <a class="btn btn-link btn-university" ng-click="filter(typeUndergraduate())" ng-class="type === typeUndergraduate() ? 'active' : 'inactive'">
                <i class="fa fa-university"></i>
                <span>Undergraduate</span>
            </a>
            <a class="btn btn-link btn-graduation" ng-click="filter(typePostgraduate())" ng-class="type === typePostgraduate() ? 'active' : 'inactive'">
                <i class="fa fa-graduation-cap"></i>
                <span>Postgraduate</span>
            </a>
        </div>

        <div class="gallery">
            <div class="grid-view" ng-repeat="(key, item) in socialMediaItems" ng-class="type === key ? 'selected' : 'unselected'" ng-click="selectSocialMedia(key)">
                
                <div class="add-link" ng-class="item.master || item.ug || item.pg ? 'hidden' : 'visible'">
                    <i class="fa fa-plus"></i>
                </div>

                <div class="preview" ng-class="item.master || item.ug || item.pg ? '' : 'overlay'">
                    <img ng-src="/images/media/{{key}}-thumbnail.jpg"/>
                </div>

                <div class="info">
                    <div class="title text-capitalize">{{key}}</div>
                    <div class="types">
                        <i class="fa fa-book" ng-show="item.master"></i>
                        <i class="fa fa-university" ng-show="item.ug"></i>
                        <i class="fa fa-graduation-cap" ng-show="item.pg"></i>
                    </div>
                    <div class="actions hidden">
                        <a href="{{item.url}}" target="_blank" title="View {{item.name}}">
                            <i class="fa fa-search"></i>
                        </a>
                        <a ng-click="deleteVideo(item)" title="Delete {{item.name}}">
                            <i class="fa fa-times-circle"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
