<div class="wrapper wrapper-content animated fadeInRight page-qs-users-list" ng-controller="QsUsersListController as UsersList">
    <p>
        <button type="button" class="btn btn-primary" ng-click="UsersList.handleAddQsUserClick()">
            <i class="fa fa-user-plus"></i>
            Add User
        </button>
    </p>

    <div class="row">
        <div id="usersTable" ng-class="showInfoBlock ? 'col-sm-3 hide-ng-table-pager' : 'col-sm-12'">
            <div class="ibox float-e-margins">
                <div class="ibox-content table-responsive">
                    <div wave-spinner class="wave-spinner" ng-show="isDatagridReloading || !isDatagridRendered"></div>

                    <div class="full-width scroll-horizontal hide-vertical-overflow" mouse-scroll-horizontal>
                        <div ng-if="UsersList.grid.options" ng-class="{'modal-overlay-35': isDatagridReloading}">
                            <ui-grid-info ng-if="!showInfoBlock"></ui-grid-info>
                            <div class="grid"
                                 ui-grid="UsersList.grid.options"
                                 ui-grid-pagination
                                 ui-grid-selection
                                 ui-grid-resize-columns
                                 ui-grid-auto-resize></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div fixed-element-while-scrolling="#usersTable" ng-show="showInfoBlock" class="col-sm-9 scroll-floating-element">
            <div class="ibox block-user">
                <div class="ibox-content">
                    <div class="ibox-tools">
                        <a class="close-link" ng-click="UsersList.handleEditCloseClick()">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>

                    <div class="tab-content">
                        <div class="tab-pane active">
                            <div class="row m-b-lg" ng-show="user.id">
                                <div class="col-lg-4 text-center">
                                    <div class="m-b-sm">
                                        <img alt="image" class="img-circle" gravatar-src="user.email" gravatar-size="100">
                                    </div>

                                    <div class="m-b-sm">
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <h2>
                                        {{user.fullname}}
                                    </h2>

                                    <a href="mailto:{{user.email}}" class="btn btn-primary btn-sm">
                                        <i class="fa fa-envelope"></i> Send Email
                                    </a>

                                    <a ng-show="!user.active" ng-click="handleActivateClick(user)" class="btn btn-warning btn-sm" ng-class="{'disabled':activateInProgress}">
                                        <i class="fa fa-undo"></i> Activate
                                    </a>

                                    <a ng-show="user.active" ng-click="handleDeactivateClick(user)" class="btn btn-danger btn-sm" ng-class="{'disabled':deactivateInProgress}">
                                        <i class="fa fa-ban"></i> Deactivate
                                    </a>

                                    <a class="btn btn-default btn-sm" ng-click="handleResetClick(user)">
                                        <i class="fa fa-refresh"></i> Reset unsaved changes
                                    </a>
                                </div>
                            </div>
                            <div class="client-detail">
                                <div class="full-height-scroll scroll-floating-element" full-scroll>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="tabs-container">
                                                <uib-tabset active="activeQsUserListSubTabs">
                                                    <uib-tab heading="Personal details" disable="disabledQsUserListSubTabs['personalDetails']">
                                                        <div ng-include src="'/scripts/components/users/list/qs/partial/personalDetails.html'"></div>
                                                    </uib-tab>
                                                    <uib-tab heading="Permissions" disable="disabledQsUserListSubTabs['permissions']">
                                                        <div ng-include src="'/scripts/components/users/list/qs/partial/permissions.html'"></div>
                                                    </uib-tab>
                                                </uib-tabset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <pre ng-show="UsersList.devMode">{{user|json}}</pre>
</div>
