<div ng-controller="ProfileLogoController as ProfileLogoController">
    <div class="col-lg-12 block-spinner">
        <div wave-spinner class="text-right" ng-show="displaySpinner"></div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <div class="img-list">
                <form name="forms.imageForm"
                      class="clearfix dropzone image-form no-background"
                      enctype="multipart/form-data"
                      ng-dropzone
                      dropzone="ProfileLogoController.dropZoneImageInstance"
                      dropzone-config="ProfileLogoController.imageConfig.dropzone"
                      event-handlers="ProfileLogoController.imageConfig.eventHandlers"
                      novalidate>
                    <div class="fallback">
                        <input name="file" type="file" />
                    </div>

                    <span class="dz-message" ng-show="uploadEnabled"></span>

                    <div ng-show="displayRemoveLink" class="dropzone-previews" ng-class="{dzPreview: displayRemoveLink}"></div>
                </form>
            </div>
            <div class="default-image" ng-show="!displayRemoveLink">
                <img alt="image" ng-show="gravatar" class="img-circle" gravatar-src="user.email" gravatar-size="100">
                <img alt="image" ng-show="!gravatar" class="img-circle" ng-src="{{user.profileLogo}}" width="100px" height="100px">
            </div>
        </div>

        <div class="profile-info-header col-sm-8">
            <h3>{{user.fullName}}</h3>
            <p>{{user.position}}</p>
            <a class="btn btn-primary btn-sm upload-button" ng-show="!displayRemoveLink" ng-class="{'disabled': generalSubmitDisabled}">
                <i class="fa fa-undo"></i> Upload Image
            </a>
            <a class="btn btn-warning btn-sm" ng-click="removeUploaderImage()" ng-show="displayRemoveLink">
                <i class="fa fa-times"></i>
                <span>Click here to remove uploaded logo</span>
            </a>
            <a class="btn btn-primary btn-sm" ng-click="handleGeneralSubmit()" ng-show="displayRemoveLink" ng-class="{'disabled': generalSubmitDisabled}">
                <i class="fa fa-check-circle"></i> Save
            </a>
        </div>
    </div>
</div>
