<div class="ibox">
    <div class="ibox-title m-t-xl">
        <h5>Edit Department</h5>
        <div class="ibox-tools">
            <a class="close-link" ng-click="toggleDepartmentEditForm()">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>

    <div class="ibox-content">
        <div wave-spinner class="text-right" ng-show="isFetchInProgress()"></div>
        <div ng-show="!isFetchInProgress()" ng-class="{'modal-overlay-35': !allowEdit()}">
            <form class="form-horizontal add-department" name="forms.editDepartmentForm" novalidate>
                <div class="form-group" ng-if="DepartmentOverviewController.isInstitutionSelected()">
                    <label class="control-label col-sm-5 col-md-4">Institution Name *</label>
                    <div class="col-sm-7 col-md-8">
                        <input type="text" class="form-control"
                               ng-model="DepartmentOverviewController.institution.selected.name"
                               ng-required="true"
                               ng-disabled="true">
                    </div>
                </div>

                <div class="form-group" ng-class="{'has-errors': isInvalidDepartmentNameUpdate}">
                    <label class="control-label col-sm-5 col-md-4">Department Name *</label>
                    <div class="col-sm-7 col-md-8">
                        <input type="text"
                            placeholder="Add name"
                            ng-model="department.name"
                            class="form-control"
                            ng-required="true"
                            focus-delay="250"
                            custom-popover

                            popover-html="Add a department name"
                            popover-placement="left"
                            popover-trigger="manual"
                            popover-visibility="{{isInvalidDepartmentNameUpdate ? true : false}}"
                            ng-focus="setIsInvalidDepartmentNameUpdate(false)" />
                    </div>
                </div>

               <div class="form-group">
                    <label class="control-label col-sm-5 col-md-4">Department Type *</label>
                    <div class="col-sm-7 col-md-8">
                        <input type="text" class="form-control"
                               ng-model="department.typeName"
                               ng-required="true"
                               ng-disabled="true">
                    </div>
                </div>

                <div class="form-group" ng-class="{'has-errors': isInvalidBelongsToUpdate}">
                    <label class="control-label col-sm-5 col-md-4">Belongs to *</label>
                    <div class="col-sm-7 col-md-8">
                        <ui-select
                            ng-model="department.belongsTo"
                            theme="bootstrap"
                            focus-delay="250"
                            custom-popover popover-html="Select an option"
                            popover-placement="left"
                            popover-trigger="manual"
                            popover-visibility="{{isInvalidBelongsToUpdate ? true : false}}"
                            ng-change="setIsInvalidBelongsToUpdate(false)">
                            <ui-select-match placeholder="Select an option">
                                <i class="fa fa-building"></i>
                                <span>{{$select.selected.title}}</span>
                            </ui-select-match>
                            <ui-select-choices
                            position="down"
                            repeat="option.id as option in belongsToList | filter: $select.search">
                            <div class="test" ng-bind-html="option.title | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="white-space"></div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <a class="btn btn-primary pull-right"
                           ng-class="{'disabled': editInProgress}"
                           ng-click="handleDepartmentUpdateClick()">
                            <i class="fa fa-check-circle"></i>
                            <span>Update</span>
                        </a>
                        <a class="btn btn-default pull-right" ng-click="toggleDepartmentEditForm()">
                            <i class="fa fa-ban"></i>
                            <span>Cancel</span>
                        </a>
                    </div>
                </div>

                <div class="separator dashed"></div>

                <div class="btn-adjustment" ng-if="allowUpgrade()">
                    <a class="btn btn-warning col-lg-10 col-lg-offset-1"
                       ng-disabled="DepartmentFormController.isUpgradeDisabled()"
                       ng-click="!DepartmentFormController.isUpgradeDisabled() && DepartmentFormController.handleUpgradeClick()"
                       uib-popover="Mandatory fields must be entered first to upgrade"
                       popover-placement="left"
                       popover-enable="DepartmentFormController.isUpgradeDisabled()"
                       popover-trigger="'mouseenter'">
                        <i class="fa fa-star"></i>
                        <span>Upgrade Department</span>
                    </a>
                </div>
                
                <div class="form-group" ng-if="allowDowngrade()">
                    <a class="btn btn-danger col-lg-10 col-lg-offset-1"
                       ng-click="handleDowngradeClick()">
                        <i class="fa fa-arrow-circle-o-down"></i>
                        <span>Downgrade to simple department</span>
                    </a>
                </div>
                <div class="form-group" ng-if="allowLoginAs()">
                    <a class="btn btn-info col-lg-10 col-lg-offset-1"
                       ng-disabled="DepartmentFormController.isLoginRestricted()"
                       ng-click="!DepartmentFormController.isLoginRestricted() && handleLoginAsClick()"

                       uib-tooltip='Login has been disabled due to permission. Contact {{DepartmentFormController.tuSupportEmail}}'
                       tooltip-enable="DepartmentFormController.isLoginRestricted()"
                       tooltip-placement="left">
                        <i class="fa fa-sign-in"></i>
                        <span>Login as Department</span>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
