<div  class="panel-body institutions" ng-controller="InstitutionsUsersInstitutionsController as InstitutionsController">
    <div class="row">
        <div wave-spinner class="load-bar col-lg-12" ng-show="InstitutionsController.isProgressBarVisible()"></div>

        <div class="col-lg-12" ng-show="selectedInstitutionsNamesLoaded">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label>Access to Hub and Outreach *</label>
                        <ui-select multiple
                                   close-on-select="false"
                                   ng-model="userInstitutions.assigned"
                                   theme="bootstrap"
                                   reset-search-input="true"
                                   on-remove="InstitutionsController.handleItemRemove($item)"
                                   on-select="InstitutionsController.handleItemSelect($item)"
                                   ng-required="true">
                            <ui-select-match placeholder="Type institution name...">{{$item.name}}</ui-select-match>
                            <ui-select-choices refresh-delay="1000"
                                               position="down"
                                               refresh="InstitutionsController.searchInstitutions($select.search)"
                                               repeat="option in institutionsSearchResults | filter:$select.search">
                                <div ng-bind-html="option.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label>Primary Institution *</label>
                        <ui-select
                            id="primary-institution-dropdown"
                            ng-model="user.primaryInstitutionCoreId"
                            ng-required="true"
                            on-select="InstitutionsController.handlePrimaryInstitutionChanges()"
                            theme="bootstrap"
                            >
                            <ui-select-match placeholder="Select an Option">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices 
                                refresh-delay="1000"
                                repeat="option.coreId as option in userInstitutions.assigned | filter:$select.search">
                                <div ng-bind-html="option.name | highlight: $select.search"></div>
                            </ui-select-choices>
                            <ui-select-no-choice>
                                Not found
                            </ui-select-no-choice>
                        </ui-select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6"></div>
        <div class="col-lg-6">
            <a class="btn btn-primary btn-sm btn-block"
               ng-class="{'disabled': InstitutionsController.disallowSubmit() || !UsersList.hasWriteAccess}"
               ng-click="InstitutionsController.handleInstitutionSubmit()">Update</a>
        </div>
    </div>

</div>
