<div class="wrapper wrapper-content animated fadeInRight page-tm-directory" ng-controller="TmDirectoryController as TmDirectoryController">
    <div class="row">
        <div id="tmDirectoryTable" ng-class="TmDirectoryController.showInfoBlock ? 'col-sm-8 hide-ng-table-pager' : 'col-sm-12'">
            <div class="section">
                <div class="section-body">
                    <div wave-spinner class="wave-spinner" ng-show="!TmDirectoryController.isDatagridRendered"></div>

                    <div ng-if="gridOptions">
                        <ui-grid-info ng-if="!TmDirectoryController.showInfoBlock"></ui-grid-info>
                        <div class="grid"
                             ui-grid="gridOptions"
                             ui-grid-selection
                             ui-grid-resize-columns
                             ui-grid-auto-resize
                             ui-grid-cellnav
                             ui-grid-exporter
                             ui-grid-pagination></div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="TmDirectoryController.showInfoBlock"
             fixed-element-while-scrolling="#tmDirectoryTable"
             class="col-sm-4">
            <div class="nested-ibox" ng-show="TmDirectoryController.showProgramEditForm" ng-include src="'/scripts/components/tmDirectory/edit/tmDirectoryEditProgramFormView.html'"></div>
        </div>

    </div>
</div>
